/* nav태그 아래의 자식들을 수평정렬하기 위한 설정 */
nav {
  overflow: hidden;
}
/* nav태그 아래의 div태그들을 수평정렬 및 세로길이 설정 */
nav > div {
  /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
  text-align: center;
  float: left;
  width: 20%;
  justify-content: center;
  /* 세로길이 설정 */
  height: auto;
}
.wrapper > div:not(:last-child) {
  margin-right: 20px;
  margin-left: 10px;
}
.wrapper {
  background-color: white;
  position: fixed;
<<<<<<< HEAD
  margin-left: 275px;
  bottom: 0;
  width: 900px;
=======
  bottom: 0;
  width: 546px;
  left:50%;
  transform: translateX(-50%);
>>>>>>> e4531a2301619a55d7bd63dc908372f35c9e7360
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.sp {
  color: gray;
  font-size: 10px;
}
.pics {
  height: 31px;
}
