@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 800px;
    width: 707px;
    position: absolute;
    top:6%;
    left:50%;
    transform: translateX(-50%);
    font-family: Pretendard,'Noto Sans KR',sans-serif;

  }
.message_{
    color:grey;
    font-size:20px;
}