@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 800px;
  width: 707px;
  position: absolute;
  top: 11.5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Pretendard, "Noto Sans KR", sans-serif;
}
.nav_bar {
  color: grey;
  display: flex;
  flex-direction: row;
  margin-top: 22px;
  font-weight: 700;
}
.loc {
  cursor: pointer;
  width: 235.6px;
  text-align: center;
}
.GwaingJin,
.GangBuk {
  margin-top: 100px;
  color: grey;
  text-align: center;
}
.box {
  margin-top: 40px;
  margin-left: 46px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.intro {
  font-size: 20px;
  font-weight: bold;
}
.sijang_info {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.GN_pic {
  background-image: url("../../public/pics/GuemNam.png");
  width: 116px;
  height: 113px;
}
.about {
  margin-left: 20px;
}
p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
span {
  font-size: 12px;
  color: grey;
}
.dd_pic {
  background-image: url("../../public/pics/Ddukdo.png");
  width: 116px;
  height: 113px;
}
.sijangs {
  margin-bottom: 82px;
  cursor: pointer;
}
.selected {
  color: black;
}
.link_ {
  text-decoration: none;
  color: black;
}

.emptySpace {
  height: 20px; /* 원하는 높이로 조정 */
}
