/* 기본 스타일링 */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.white-page {
  padding: 20px;
  width: 50vw; /* 화면 너비의 80%로 설정하여 중간 정도 크기로 만듭니다. */
  height: 100vh;
  background-color: white;
}
.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20vh;
}
hr {
  background: rgb(247, 128, 128);
  height: 1.5px;
  border: 0;
}
label input {
  border-radius: 10px;
  border-color: rgb(247, 128, 128);
  border: 2px solid rgb(247, 128, 128);
  width: 20vw;
  height: 3.5vh;
}
label {
  color: rgb(247, 128, 128);
  font-size: large;
}
button {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 5px;
  border-radius: 15px;
  font-size: 1.2vw;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  color: white;
  width: 25%;
  background-color: rgb(247, 128, 128);
}
.logoBar {
  display: flex; /* 이미지와 검색 입력란을 한 줄에 표시하기 위해 flex를 사용 */
  align-items: center; /* 가운데 정렬을 위해 추가 */
}
.logoBar img {
  float: left;
  width: 15vw;
  height: 10vh;
}
.logoBar input {
  float: right;
  width: 30vw;
  padding: 10px 5px;
  background-color: rgb(243, 239, 239);
  border-radius: 15px;
  border-style: none;
  background-image: url("/public/pics/search.png");
  background-repeat: no-repeat;
  background-size: 20px; /* 배경 이미지 크기 설정 */
  background-position: 10px center; /* 배경 이미지 위치 조정 */
}
