/* 기본 스타일링 */
.container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 800px;
  width: 707px;
  position: absolute;
  top:6%;
  left:50%;
  transform: translateX(-50%);
}
.idPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 546px;
}
.white_page img {
  width: 80px;
  height: 120px;
}

hr {
  background: rgb(247, 128, 128);
  height: 1.5px;
  border: 0;
}
.input_ {
  border-color: rgb(247, 128, 128);
  border: 2px solid rgb(247, 128, 128);
  width: 260px;
  height: 35px;
}
.label_ {
  color: rgb(247, 128, 128);
  font-size: large;
}
.autoLogin {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #999;
  appearance: none;
  cursor: pointer;
}
.Button {
  border: none;
  display: inline-block;
  padding: 10px 5px;
  font-size: 1.2vw;
  text-decoration: none;
  font-weight: 600;
  color: white;
  width: 260px;
  height: 34px;
  background-color: rgb(247, 128, 128);
  margin-top: 15px;
  cursor: pointer;
}
.id {
  margin-top: 30px;
}
.find_info{
  display: flex;
  flex-direction: row;
  margin-top:10px;
  font-size:12px;
}
.find{
  margin-left: 86px;
}
.join_link:before,
.join_link:after,
.find__id::before,
.find__pwd:before,
.find__id:after,
.find__pwd:after{
  content: "";
  position: absolute; 
  bottom: -2px; 
  width: 0; 
  height: 2px; 
  background-color: black; 
  transition: width 0.3s ease-in-out; 
}

.join_link:before,
.find__id::before,
.find__pwd:before {
  left: 50%; 
  transform: translateX(-50%); 
}

.join_link:after,
.find__id:after,
.find__pwd::after {
  right: 50%;
  transform: translateX(50%); 
}

.join_link:hover:before,
.join_link:hover:after,
.find__id:hover:before,
.find__pwd:hover:before{
  width: 90%; 
}
.join_link, 
.find__id,
.find__pwd{
  text-decoration: none;
  color: black;
  position: relative;
}
