body{
    background-color: lightgray;
}
.container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.post{
    margin-bottom: 20px;
}
.post_header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.postheader_user{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
    font-size:20px;
}
.postheader_user > span{
    color: grey;
    font-size:13px;
    margin-left:5px;
}
.post_image > img{
    width:500px;
    border-radius: 6px;
    border: 0.6px solid rgba(128,128,128,0,6);
}

.post_footerIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.postIcon{
    padding:5px;
    font-size:30px;
}
.postIcon:hover{
    cursor: pointer;
}
.avatar{
    margin-right:4px;
}