.logoBar {
    display: flex; /* 이미지와 검색 입력란을 한 줄에 표시하기 위해 flex를 사용 */
    align-items: center; /* 가운데 정렬을 위해 추가 */
  }
  .logoBar img {
    float: left;
    width: 15vw;
    height: 10vh;
  }
  .logoBar input {
    float: right;
    width: 30vw;
    padding: 10px 5px;
    background-color: rgb(243, 239, 239);
    border-radius: 15px;
    border-style: none;
    background-image: url("/public/pics/search.png");
    background-repeat: no-repeat;
    background-size: 20px; /* 배경 이미지 크기 설정 */
    background-position: 10px center; /* 배경 이미지 위치 조정 */
  }
