@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 707px;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: Pretendard, "Noto Sans KR", sans-serif;
}
.margin_div {
  margin-bottom: 15vh;
  background-color: white;
}
.image {
  width: 667px;
  height: 366px;
  border-radius: 15px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}

.loc {
  font-size: 16px;
  color: grey;
  margin-left: 7px;
}

.time {
  font-size: 32px;
  font-weight: bold;
  margin-left: 7px;
}

.days {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
  margin-top: 7px;
  margin-right: 7px;
  color: grey;
}
.field {
  display: flex;
  flex-direction: row;
}
.lines {
  margin-top: 7px;
}
.line__ {
  width: 423px;
}
.use_ {
  color: grey;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 4px;
}
.rest {
  color: red;
  font-weight: bold;
}
.samechu {
  display: flex;
  flex-direction: row;
  margin-left: 7px;
}
.samechu_ {
  font-size: 32px;
  font-weight: bold;
}
.samechu_text {
  display: flex;
  color: grey;
  font-size: 16px;
  margin-top: auto;
}
.menu_img_text {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
}
.gazami_img {
  width: 128px;
  height: 128px;
}
.menu_text {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title_menu {
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.price {
  color: grey;
  font-size: 14px;
  margin-bottom: 10px;
}
.explain {
  color: rgb(74, 72, 72);
  font-size: 14px;
}
.menus_ {
  display: flex;
  flex-direction: column;
}
.menu1,
.menu2,
.menu3 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 2%;
}
.menu_info {
  font-size: 32px;
  font-weight: bold;
}
.food {
  margin-right: 5px;
  color: grey;
}
.price {
  margin-left: 5px;
}
.title_star {
  display: flex;
  flex-direction: row;
}
