.timeline {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  /* left: 50%; */
  /* top: 11%; */
  /* transform: translate(-50%, 0%); */
  width: 707px;
}

.margin_div {
  height: 8vh;
}

.loading {
  overflow: scroll;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingScreen {
  margin: 0;
  display: flex; /*내부 요소들이 차례로 배치 */
  justify-content: center; /*내부 요소의 좌우 정렬 상태를 가운데로 설정*/
  align-items: center; /*요소는 세로 중앙 배치*/
  height: 80vh;
}
.loadingScreen span {
  display: inline-block; /* span 내부요소들을 한줄로 세우기 */
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%; /* span을 동그랗게 */
  animation: loading 1s 0s linear infinite;
  /* 이벤트명  반복시간  딜레이시간  이벤트처리부드럽게  이벤트무한반복*/
}

.loadingScreen span:nth-child(1) {
  /*loading의 자식 중 첫번째 span*/
  /*nth-child : 형제 사이에서의 순서*/
  animation-delay: 0s;
  background-color: red;
}

.loadingScreen span:nth-child(2) {
  animation-delay: 0.2s;
  background-color: orange;
}

.loadingScreen span:nth-child(3) {
  animation-delay: 0.4s;
  background-color: yellowgreen;
}

@keyframes loading {
  /*loading이라는 keyframe 애니메이션*/
  0%,
  100% {
    opacity: 0; /* 안보였다가 */
    transform: scale(
      0.5
    ); /*transform의 scale로 요소를 확대 또는 축소할 수 있음*/
  }
  50% {
    opacity: 1; /* 보였다가 */
    transform: scale(1.2); /* 1.2배 */
  }
}
.emptySpace {
  height: 20px; /* 원하는 높이로 조정 */
}
