@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
.container {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 750px;
  width: 707px;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 42px;
  font-family: Pretendard, "Noto Sans KR", sans-serif;
}

.text {
  padding: 10px;
  width: 540px;
  height: 140px;
  font-size: 18px;
}
textarea {
  margin-bottom: 30px;
  resize: none;
}
.imgControl {
  display: flex;
  flex-direction: column;
  transform: translateX(-255px);
  justify-content: center;
  height: 20%;
}
.imgAdd {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.title_ {
  font-size: 20px;
}

.add_pics {
  display: flex;
  flex-direction: column;
  transform: translateY(17px);
  width: 60px;
  height: 60px;
}
.addLoc {
  font-size: 16px;
  display: flex;
  margin-right: 200px;
}
hr {
  background: rgb(247, 128, 128);
  height: 2px;
  border: 0;
  width: 80%;
}
.Button {
  border: none;
  display: inline-block;
  padding: 10px 5px;
  font-size: 1.2vw;
  text-decoration: none;
  font-weight: 800;
  color: white;
  font-size: 15px;
  width: 260px;
  height: 34px;
  background-color: rgb(247, 128, 128);
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 3px 3px 3px lightgrey;
  transition: background-color 0.3s, transform 0.3s;
}
.Button:active {
  background-color: rgb(247, 128, 128, 0.85);
  transform: translateY(2px);
}
.addLocDiv {
  display: flex;
  justify-content: space-between;
  transform: translateX(-50px);
}
.addBtn {
  float: right;
}
.addBtn img {
  width: 18.11px;
  height: 19.02px;
}
.star_box {
  display: flex;
  flex-direction: column;
  transform: translateX(-75%);
  height: 20%;
  justify-content: center;
}
.star_ev {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.addLocBtn {
  min-width: 150px;
  box-shadow: 0 4px 5px 0 #00000026;
  position: relative;
}
.addLocBtn input {
  background-image: url(../../public/pics/addLoc.png);
  background-repeat: no-repeat;
}

/* Dropdown 스타일 */
.dropDown {
  position: relative;
  cursor: pointer;
}
.dropDown img {
  width: 30%;
  height: 50%;
}
.dropDownText {
  display: block;
  padding: 10px;
  background-color: white;

  border-radius: 5px;
}
.dropDownText img {
  transition: transform 0.3s ease-in-out;
}

.dropDownContent {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.dropDown.active .dropDownContent {
  display: block;
}
.dropDown.active .dropDownText img {
  transform: rotate(90deg); /* 클릭 시 180도 회전 */
}

.dropDownContent ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropDownContent ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list_ {
  cursor: pointer;
  list-style-type: none;
}
.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.Ok_btn {
  background-color: rgb(247, 128, 128);
  width: 60px;
  border: none;
  margin-right: 7px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 770;
  box-shadow: 3px 3px 3px lightgrey;
  transition: background-color 0.3s, transform 0.3s;
}
.Ok_btn:active {
  background-color: rgb(247, 128, 128, 0.85);
}
.cancel_btn {
  background-color: grey;
  width: 60px;
  border: none;
  margin-left: 7px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 770;
  box-shadow: 3px 3px 3px lightgrey;
  transition: background-color 0.3s, transform 0.3s;
}
.cancel_btn:active {
  background-color: grey;
  opacity: 0.85;
}
.selected {
  text-decoration: none rgb(247, 128, 128);
  color: rgb(247, 128, 128);
  font-weight: bold;
}
.no_jumpo {
  color: grey;
}
.addLocHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.init_btn {
  background-color: grey;
  width: 60px;
  border: none;
  margin-left: 7px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 770;
  box-shadow: 3px 3px 3px lightgrey;
  transition: background-color 0.3s, transform 0.3s;
}
.init_btn:active {
  background-color: grey;
  opacity: 0.85;
}
.emptySpace {
  height: 80px; /* 원하는 높이로 조정 */
}
.emptySpace2 {
  height: 40px; /* 원하는 높이로 조정 */
}
