.container {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 800px;
  width: 707px;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 42px;
}
.text {
  padding: 10px;
  width: 540px;
  height: 140px;
  font-size: 18px;
}
textarea {
  margin-bottom: 30px;
}

.imgControl {
  display: flex;
}
.imgAdd {
  font-size: 16px;
  margin-left: -450px;
}
.title {
  font-size: 20px;
}
.addImg {
  margin-left: -250px;
}
.addImg img {
  width: 52px;
  height: 52px;
}
.addLoc {
  font-size: 16px;

  margin-left: -243px;
}
hr {
  width: 80%;
  border-color: #999999;
  border-top: 1px solid #999999;
  margin: 10px 0;
}
.Button {
  border: none;
  display: inline-block;
  padding: 10px 5px;
  font-size: 1.2vw;
  text-decoration: none;
  font-weight: 600;
  color: white;
  width: 260px;
  height: 34px;
  background-color: rgb(247, 128, 128);
  margin-top: 15px;
  cursor: pointer;
}

.addLocDiv {
  display: inline-block;
  justify-content: space-between;
}
.addBtn {
  float: right;
}
.addBtn img {
  width: 18.11px;
  height: 19.02px;
}
h3 {
  margin-left: -420px;
}
.star {
  width: 182.49px;
  height: 29.86px;
  margin-top: -15px;
  margin-left: -350px;
}
.addLocBtn {
  min-width: 150px;
  box-shadow: 0 4px 5px 0 #00000026;
  position: relative;
}
.addLocBtn input {
  background-image: url(../../public/pics/addLoc.png);
  background-repeat: no-repeat;
}
