.container {
  background-color: white;
  height: 93vh;
  margin-top: -35px;
  width: 707.3px;
  margin-left: 371.3px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.writeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 400px;
}
.writeContent textarea {
  font-size: 20px;
  font-weight: bold;
  color: #999999;
}
.writeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.writeTitle input {
  width: 80%;
  height: 3vh;
  border-color: red;
  text-decoration: none;
  padding: 10px;
}
.writeContent textarea {
  width: 80%;
  height: 140px;
  border-color: #999999;
  padding: 10px;
}
.imageBtn {
  background-image: url("../../public/pics/NewHome.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
  width: 10vw;
  height: 15vh;
  background-color: white;
}
